.items
{
	color: white;
	font-weight: bold;
	margin-right:18%;
	margin-left:2.5%;
    font-family: comic sans ms;
}
.list
{
	clear: both;
}
.items1
{
	color: white;
	font-weight: bold;
	margin-right:18%;
	margin-left:7.5%;
    font-family: comic sans ms;
}